[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "ollama"]
	path = ollama
	url = https://github.com/ollama/ollama.git
[submodule "opencode"]
	path = opencode
	url = https://github.com/opencode-ai/opencode.git
